.container{
    display: flex;
    justify-content:center;
    .wrapper{
        margin:20px;
        width: 700px;
        .hr{
            width:90%;
            margin-top:30px;
        }
    }
}


